<% include ./partials/header %>
        <div class="ui main Site-content text container segment">
            <div class="ui huge header"><%= blog.title %></div>
            <div class="ui top attached">
                <div class="item">
                    <img class="ui centerd rounded image" src="<%= blog.image%>">
                        <div class="content">
                            <strong><p>Written by <%=blog.name %></p></strong>
                            <strong><span><%= blog.created.toDateString() %></span></strong>
                        </div>
                </div>
                <div class="description">
                    <p><pre><%= blog.body %></pre></p>
                </div>
                <a class="ui basic orange animated fade button" tabindex="0" href="/blogs/<%= blog._id %>/edit">
                    <div class="visible content">Edit</div>
                    <div class="hidden content">
                        <i class="write icon"></i>
                    </div>
                </a>
            </div>
        </div>
<% include ./partials/footer %>